* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main start here */
main {
  grid-area: main;
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: auto;
  padding: 2rem;
}

/* main-wrapper-container start here */
.main-wrapper-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 10vh;
  background-color: var(--main-wrapper-background-color);
  border-radius: 1rem;
  grid-template-areas:
    "right-child-container"
    "left-child-container";
}
/* main-wrapper-container ends here */

/* left-child-container start here */
.left-child-container {
  grid-area: left-child-container;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "total-watt-from-load-holder"
    "total-surge-from-load-holder"
    "actual-inverter-holder"
    "adjustaed-inverter-holder";
  gap: 1.5rem;
  padding: 1rem;
}

/* Left-container-children stsrt */
/* Total-Watt-From-Load-Start */
.left-child-container .total-watt-from-load-holder {
  grid-area: total-watt-from-load-holder;
  display: grid;
  min-height: 10rem;
  /* max-height: 5rem; */
  border-radius: 0.8rem;
  background-color: var(--main-wrapper-children-background-color);
  box-shadow: var(--inverter-output-field-box-shadow);
  position: relative;
}
.total-watt-from-load-holder .total-watt-from-load-title {
  position: absolute;
  left: 13rem;
  top: -0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.2rem;
  color: var(--inverter-output-field-color);
  font-weight: bold;
}
.totalWattFromLoadValue {
  position: absolute;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--inverter-output-font-color);
}
/* Total-Watt-From-Load-End */

/* Total-Surge-From-Load-Start */
.left-child-container .total-surge-from-load-holder {
  grid-area: total-surge-from-load-holder;
  display: grid;
  min-height: 10rem;
  /* max-height: 5rem; */
  border-radius: 0.8rem;
  background-color: var(--main-wrapper-children-background-color);
  box-shadow: var(--inverter-output-field-box-shadow);
  position: relative;
}
.total-surge-from-load-holder .total-surge-from-load-title {
  position: absolute;
  left: 11rem;
  top: -0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.2rem;
  color: var(--inverter-output-field-color);
  font-weight: bold;
}
.totalSurgeFromLoadValue {
  position: absolute;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--inverter-output-font-color);
}
/* Total-Surge-From-Load-End */

/* Actual-Inverter-Start */
.left-child-container .actual-inverter-holder {
  grid-area: actual-inverter-holder;
  display: grid;
  min-height: 10rem;
  /* max-height: 5rem; */
  border-radius: 0.8rem;
  background-color: var(--main-wrapper-children-background-color);
  box-shadow: var(--inverter-output-field-box-shadow);
  position: relative;
}
.actual-inverter-holder .actual-inverter-title {
  position: absolute;
  left: 15rem;
  top: -0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.2rem;
  color: var(--inverter-output-field-color);
  font-weight: bold;
}
.actualInverterValue {
  position: absolute;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--inverter-output-font-color);
}
/* Actual-Inverter-End */

/* Adjusted-Inverter-Start */
.left-child-container .adjustaed-inverter-holder {
  grid-area: adjustaed-inverter-holder;
  display: grid;
  min-height: 10rem;
  /* max-height: 5rem; */
  border-radius: 0.8rem;
  background-color: var(--main-wrapper-children-background-color);
  box-shadow: var(--inverter-output-field-box-shadow);
  position: relative;
}
.adjustaed-inverter-holder .adjustaed-inverter-title {
  position: absolute;
  left: 14rem;
  top: -0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.2rem;
  color: var(--inverter-output-field-color);
  font-weight: bold;
}
.adjustedInverterValue {
  position: absolute;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: var(--inverter-output-font-color);
}
/* Solar-Charge-Control-AH-For-Actual-Panel/Battery-holder-end */
/* Left-container-children end */
/* left-child-container ends here */

/* Right-child-container start here */
.right-child-container {
  grid-area: right-child-container;
  /* border: 2px solid blue; */
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    "inverterEfficiencyHolder"
    "inverterMarginalSafetyHolder";
  gap: 1.5rem;
  padding: 1rem;
}

/* Inverter-Efficiency-Start */
.inverterEfficiencyHolder {
  grid-area: inverterEfficiencyHolder;
  border: var(--inverter-input-field-border);
  border-radius: 0.4rem;
  min-height: 10rem;
  /* max-height: 5rem; */
  padding: 0.2rem;
  position: relative;
}

.inverterEfficiencyHolder input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  border: none;
  color: var(--inverter-input-field-font-color);
}
.inverterEfficiencyHolder label {
  position: absolute;
  left: 16rem;
  top: 4rem;
  color: var(--inverter-input-field-font-color);
  /* font-weight: bold; */
}

.inverterEfficiencyHolder input:focus ~ label,
.inverterEfficiencyHolder input:not(:placeholder-shown) ~ label {
  top: -0.6rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: var(--inverter-label-transition-font-color);
  font-weight: bold;
}
/* Inverter-Efficiency-End */

/* Inverter-Marginal-Safety-Start */
.inverterMarginalSafetyHolder {
  grid-area: inverterMarginalSafetyHolder;
  border: var(--inverter-input-field-border);
  border-radius: 0.4rem;
  min-height: 10rem;
  /* max-height: 5rem; */
  padding: 0.2rem;
  position: relative;
}

.inverterMarginalSafetyHolder input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  border: none;
  color: var(--inverter-input-field-font-color);
}
.inverterMarginalSafetyHolder label {
  position: absolute;
  left: 16rem;
  top: 4rem;
  color: var(--inverter-input-field-font-color);
  /* font-weight: bold; */
}

.inverterMarginalSafetyHolder input:focus ~ label,
.inverterMarginalSafetyHolder input:not(:placeholder-shown) ~ label {
  top: -0.6rem;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: var(--inverter-label-transition-font-color);
  font-weight: bold;
}
/* Inverter-Marginal-Safety-End */

/* Submit-All-Proceed-start */
.proceedBtn {
  border: none;
  background-color: var(--submit-to-proceed-background);
  box-shadow: var(--inverter-submit-to-proceed-box-shadow);
  border-radius: 0.5rem;
  min-height: 10rem;
  /* max-height: 5rem; */
  cursor: pointer;
  color: var(inverter-submit-to-proceed-font-color);
  /* font-weight: bold; */
}
.proceedBtn:hover {
  background-color: var(--inverter-submit-hover-background-color);
  color: var(--inverter-submit-to-proceed-hover-color);
  transition: 2s;
  box-shadow: var(--inverter-submit-to-proceed-hover-box-shadow);
  font-weight: bold;
}
/* Submit-All-Proceed-end */
/* Right-child-container ends here */
/* Main ends here */
