* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Wrapper container start here */
#wrapper-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "nav"
    "main";
  background-color: var(--mainBody-background-color);
}
