* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Carocell start here */
.carocellContainer {
  grid-area: carocellContainer;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carocellHolder {
  min-width: 2.5rem;
  min-height: 2.5rem;
  /* border: 2px solid white; */
  border-radius: 50%;
  color: rgb(223, 223, 247);
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideCarousel {
  display: none;
}
/* Carocell ends here */
