* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav start here */
.loadNav {
  grid-area: nav;
  background-color: rgba(12, 117, 187, 0.8);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "leftArrowHolder loadAuditHeaderHolder loadAuditHeaderHolder loadAuditHeaderHolder loadAuditHeaderHolder loadAuditHeaderHolder loadAuditHeaderHolder loadAuditHeaderHolder rightArrowHolder rightArrowHolder";
  min-height: 3rem;
}

/* Left Arrow start here */
nav .leftArrowHolder {
  grid-area: leftArrowHolder;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

nav .leftArrowHolder a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 50%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

nav .leftArrowHolder a:hover {
  background-color: rgba(244, 8, 8, 0.7);
  transition: 2s;
}
/* Left Arrow ends here */

/* Load Audit Header start */
nav .loadAuditHeaderHolder {
  grid-area: loadAuditHeaderHolder;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: rgba(254, 173, 21, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(12, 117, 187, 0.8);
  cursor: pointer;
  font-size: 1.5rem;
}
/* Load Audit Header end */

/* Right Arrow start */
nav .rightArrowHolder {
  grid-area: rightArrowHolder;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

nav .rightArrowHolder a {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  text-decoration: none;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
}

nav .rightArrowHolder a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(244, 8, 8, 0.8);
  transition: 2s;
  padding: 0.2rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}
/* Right Arrow end */
/* Nav ends here */
