* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Services start */
.services {
  grid-area: services;
  /* border: 2px solid red; */
  min-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services a {
  /* border: 2px solid red; */
  border-radius: 0.3rem;
  color: var(--services-anchor-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.services:hover {
  background: var(--services-hover-background);
}
/* Services end */
